<table class="table table-striped" style="width:90%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Branch Name</th>
      <th scope="col">IFSC </th>
      <th scope="col">Address </th>
      <th scope="col"> </th>
    </tr>
  </thead>

  <tbody>
  <% @bank_branches.each do |branch| %>
    <tr>
      <th scope="row"><%=branch.id%></th>
      <td><%=branch.branchname%></td>
      <td><%=branch.ifsc%></td>
      <td><%=branch.address%></td>
      <td><%= link_to "Show", branch %></td>
    </tr>
   <% end %>  
    </tbody>
</table>
