<div class='m-4'>
<p style="color: green"><%= notice %></p>
<h3>Branch Details</h3>
<br>
<%= render @bank_branch %>

<div>
  <%= link_to "Edit this bank branch", edit_bank_branch_path(@bank_branch) %> |
  <%= link_to "Back to bank branches", bank_branches_path %>
</div>
<br>
<div>
  <%= button_to "Destroy this bank branch", @bank_branch, method: :delete ,form: { data: { turbo_confirm: 'Are you sure?' } }%>
</div>
</div>