<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= customer.mobile %>
  </p>

  <p>
    <strong>Pancard:</strong>
    <%= customer.pancard %>
  </p>

  <p>
    <strong>Aadhaar:</strong>
    <%= customer.aadhaar %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

</div>
