<div id="<%= dom_id account %>">
  <p>
    <strong>Account type:</strong>
    <%= account.account_type %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  <p>
    <strong>Bank branch:</strong>
    <%= account.bank_branch_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= account.customer_id %>
  </p>

</div>
